body {
  font-family: "Balsamiq Sans", cursive;
  background-color: #ffffbf;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

hr {
  border: 2px solid rgb(255, 102, 0);
  width: 50%;
}

form {
  line-height: 50px;
}

input::placeholder {
  font-family: "Balsamiq Sans", cursive;
}

input[type="text"],
input[type="number"],
select {
  margin-left: 5px;
  border-radius: 5px;
  border: 2px solid rgb(255, 102, 0);
  font-family: "Balsamiq Sans", cursive;
  background-color: white;
}

input[type="radio"] {
  margin-left: 15px;
}

input[type="submit"] {
  border-radius: 5px;
  border: 4px solid rgb(255, 102, 0);
  font-family: "Balsamiq Sans", cursive;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  margin-top: 20px;
}

article {
  margin: auto 25%;
}

article p {
  font-size: 20px;
  line-height: 30px;
}

a {
  color: rgb(255, 102, 0);
  font-size: 30px;
}

span.word {
  font-weight: bold;
}
